<table class="table table-hover">
    <thead class="thead-light">
        <th>#Order No.</th>
        <th>Customer</th>
        <th>Pay Method</th>
        <th>G. Toatal</th>
        <th> <a class="btn btn-success" routerLink="/order"><i class="fa fa-plus-square"></i> Create New</a></th>
    </thead>
    <tbody>
        <tr *ngIf="orders.length==0">
            <td class="font-italic text-center text-danger" colspan="4">No orders available</td>
        </tr>
        <tr *ngFor="let order of orders">
            <td (click)="opeForEdit(order.orderId)">{{order.orderNo}}</td>
            <td>{{order.customerName}}</td>
            <td>{{order.payMethod}}</td>
            <td>{{order.gTotal}}</td>
            <td><a class="btn text-danger" (click)="onOrderDelete(order.orderId)"><i class="fa fa-trash fa-lg"></i></a></td>
        </tr>
    </tbody>
</table>
